/* Define popup */
#modalContent {
	-moz-box-shadow: 3px 4px 12px rgba(128,128,128,0.5);
	-webkit-box-shadow: 3px 4px 12px rgba(128,128,128,0.5);
	box-shadow: 3px 4px 12px rgba(128,128,128,0.5);
}

div.ctools-modal-content {
  margin: 0;
}

div.ctools-modal-content .modal-content {
  padding: 12px 24px 0 24px;
}

div.ctools-modal-content .modal-header {
  background-color: transparent;
  padding: 3px;
}

a.close {
  opacity: 0.7;
}

a.close:hover, 
a.close:focus {
  opacity: 1.0;
}

.entitypopup-modal {
  width: 300px;
  height: auto;
  border: 2px #999 solid;
  z-index: 499;
  background: white;
  overflow: hidden;
  padding: 24px;
  border-image: initial;
  margin: 0 auto;
}